:root {
    --gradientBackground: -webkit-linear-gradient( -70deg, #db469f 0%, #2188ff 100% );
    --boxShadowColor: #b0b0b0;
    --nextBlue: #0070f3;
    --nextBlueLight: hsl(212, 100%, 68%);
    --nextBlueHover: hsl(212, 100%, 38%);
    --whiteText: #FFFFFF;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: var(--nextBlue);
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 2px 4px 0.5px var(--boxShadowColor);
}

.header img {
    cursor: pointer;
}

.appText {
    font-family: "Medium", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--whiteText);
    padding-left: 0.6rem;
}

.centerButtons {
    flex: 1;
}

.createButton {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--nextBlueLight);
    padding: 0.45em 0.25em;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 4px 3px 3px 1px #0b0b0b2e;
}

.pencilEmoji {
    font-size: 2rem;
    line-height: 2rem;
}

.plusIcon {
    margin-left: -0.5rem;
    font-size: 1rem;
}

.createNewSike {
    padding: 0.2em 0.5em;
    border-radius: 8px;
    font-size: 1.8rem;
    color: var(--whiteText);
    background-color: var(--nextBlue);
    border: 0;
    outline: none;
    margin-top: 1rem;
    -webkit-box-shadow: 4px 4px 3px 1px var(--boxShadow);
    box-shadow: 4px 4px 3px 1px var(--boxShadow);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.createNewSike > * {
    pointer-events: none;
}