.sikesContainer {
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0.4em 0;
}

.sikesContainer > * {
    margin-bottom: 0.4rem;
}

.sike {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #4444441c;
    border-radius: 15px;
}

.sikeBody {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.3em 0.9em 0.3em;
    border-radius: 15px;
}

.sikeContent {
    flex: 1;
    text-align: left;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-right: 0.4em;
}

.sikeActionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.totalUpvotesCount {
    padding: 0.1em 0.2em;
}

.sikeFooter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5f5f5;
    padding: 0.3em 0.9em 0.3em;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sikeFooter >*:not(:last-child) {
    margin-right: 0.5rem;
}

.timeDifference, .distanceBetween, .totalComments {
    font-size: 0.8rem;
}

.totalComments {
    color: #0070f3;
    font-size: 1rem;
}